# these files are ignored

#### Experiment folder ####
# Dowload these files from google drive
experiments/composites/*
experiments/pointclouds/*
experiments/test/*

# misc
experiments/pan012_graspnet.npz
experiments/pan012_pc.npz
experiments/pan016.urdf
experiments/utils.py
experiments/graspflow.py

### GraspFlow ###
graspflow/temp_data/
graspflow/networks/__pycache__/
graspflow/__pycache__/
graspflow/robot_panda.pdf
graspflow/robot_robotiq.pdf
graspflow/data/
graspflow/utils/__pycache__/
graspflow/data.zip
graspflow/pcs.zip

### Grasper ###
grasper/